<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<div xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
     xmlns:hello="http://www.jahia.com/thymeleaf/hello"
     xmlns:template="http://www.jahia.com/thymeleaf/template">
    <!--<p th:text="${currentNode.getProperty('thymeleafText').getValue().getString()}">Welcome to our grocery store!</p>-->
    <!--<p th:text="#{home.welcome}">Message test</p>-->
    <!--<p hello:sayto="World">Hi ya!</p>-->
    <!--<p hello:node="${currentNode}">Hi ya!</p>-->
    <!--<p template:node="${currentNode}">Hi ya!</p>-->
    Test
    <template:area path="home"/>
    <template:module path="buttons" params="firstName=sajid,lastName=sajid">
        <button type="button">Go</button>
    </template:module>

    <b>List</b><br/>
    <div th:id="${currentNode.identifier}">
        <div class="col-md-4"  th:each="text,status  : ${#jcr.getChildrenOfType(currentNode, 'jnt:bigText')}">
            <template:module node="${text}"/>
        </div>
        <div class="clear-both-sides"></div>
    </div>
    <template:module path="*" nodeTypes="jnt:bigText"/>
</div>