<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-4.dtd">
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:dx="http://www.jahia.com/thymeleaf/dx"
     xmlns:dx-template="http://www.jahia.com/thymeleaf/template" th:with="firstName=sajid">
  <!--/*@thymesVar id="currentNode" type="org.jahia.services.content.JCRNodeWrapper"*/-->
  <!--/*@thymesVar id="out" type="java.io.PrintWriter"*/-->
  <!--/*@thymesVar id="script" type="org.jahia.services.render.scripting.Script"*/-->
  <!--/*@thymesVar id="scriptInfo" type="java.lang.String"*/-->
  <!--/*@thymesVar id="workspace" type="java.lang.String"*/-->
  <!--/*@thymesVar id="renderContext" type="org.jahia.services.render.RenderContext"*/-->
  <!--/*@thymesVar id="currentResource" type="org.jahia.services.render.Resource"*/-->
  <!--/*@thymesVar id="url" type="org.jahia.services.render.URLGenerator"*/-->
  <div th:text="${firstName}"></div>
  <dx-template:add-resources dx:type="css" dx:resources="blank.css"/>
  <dx-template:add-resources dx:type="css" dx:resources="blank.css"/>
  <dx-template:add-resources dx:type="javascript" dx:resources="blank.js"/>
  <dx-template:add-resources dx:type="inline">
    <script type="text/javascript">
      console.log("inline");
    </script>
  </dx-template:add-resources>

  <div class="blankStyle">Test</div>
  <dx-template:area dx:path="home"/>

  <dx-template:module dx:path="buttons" dx:params="firstName=${firstName},lastName=sajid">
    <button type="button">Go</button>
  </dx-template:module>
  <b>List</b><br/>
  <div th:id="${currentNode.identifier}">
    <div class="col-md-4" th:each="text,status : ${#jcr.getChildrenOfType(currentNode, 'jnt:bigText')}">
      <dx-template:module dx:node="${text}"/>
    </div>
  </div>
  <dx-template:module dx:path="*" dx:nodeTypes="jnt:bigText"/>
  <dx-template:add-wrapper dx:name="test"/>
  <dx-template:add-cache-dependency dx:node="${currentNode}"/>

  <div th:with="firstName=Sam">
    <div th:text="${firstName}">Jordan</div>
  </div>
</div>